{% extends "app/layout.html" %}
{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<h1>Insertar una opción</h1>
<div>{{ pocasOpciones }}</div>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            {% if not muchasOpciones %}
                <button type="submit" class="save btn btn-default">Save</button>
            {% endif %}
        </form>
<div>{{ muchasOpciones }}</div>
<div>{{ unicaCorrecta }}</div>
<a href="{% url 'index' %}">Ver preguntas</a> 

{% endblock %}